*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span#problem{
  font-family: georgia, serif, Symbola;
}
#webpage-header{
  width:100vw;
  background: #2c3e50;
  position: absolute;
  top: 0;
  height: 65px;
  width: 100%;
  color: white;
  border-radius: 4px;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2%;
  font-family: 'Open sans', sans-serif;
}
#buttonContainer {
  display: flex;
  position: absolute;
}
.white-button{
  background: white;
  padding: 8px 7px;
  border-radius: 4px;
  border: 0.5px solid rgb(143,143,143);
}
.blue-button{
  background: #2c3e50;
  color: White;
  padding: 8px 7px;
  border-radius: 4px;
  border: 0.5px solid rgb(143,143,143);
  margin: 0px 0px 0px 10px;
}
#back:hover{
  background-color: #e5ecf1;
}
#new-problem:hover{
  background-color: #101a23;
}
#solution:hover{
  background-color: #101a23;
}
#question-mark{
  position: relative;
  top: 120px;
  right: 0px;
  font-size: 60px;
  color: #263849;
}
#textContainer {
  justify-content: center;
  align-items: center;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  position: absolute;
  top: 130px;
  left: 200px;
  border: 1px solid rgb(222, 221, 221);
}

/* Media query for smaller screens */
@media (max-width: 2000px) {
  #buttonContainer {
    width: calc(70vw - 40px);
    top: 75px;
    left: 10%;
  }
  #textContainer {
    width: calc(70vw - 40px);
    top: 130px;
    left: 10%;
  }
  #yInput {
    width: calc(20vw);
  }
  #answerButton {
    left: calc(20vw + 90px);
  }
}
#answer-container{
  position: absolute;
  top: 75%;
  bottom: 5%;
  background: #f4f4f4;
  border: 2px solid #dbdbdb85;
  left: 4%;
  right: 4%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}
#answerButton{
  position: absolute;
  top: 75%;
  bottom: 5%;
  /* left: 20px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}
#getProblem{
  color: #fff;
  background-color: #2c3e50;
  border: 1px solid #2c3e50;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 4px;
  transition: 0.1s;
  margin-left: 7px;
}

#getProblem:hover{
  background-color: #101a23;
}
#yInput{
  height: 40px;
  cursor: text;
  border-radius: 2px;
  border: 0.5px solid rgb(143,143,143);
}
input:focus{
  box-shadow: 0 0 5px rgb(30,130,212);
}
span.parenthesis, #comma{
  font-size: 40px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
#problem-header{
  position: absolute;
  top: 5%;
  left: 3%;
  width: 75%;
}
#problem{
  font-size:1.2rem;
  position: absolute;
  top: 1000;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
}
#indicator{
  position: absolute;
  bottom: 110%;
  left: 90%;
}
#header span{
  font-size: 21px;
  font-family:'Seqoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}